h1 {
  margin: 10px;
}

.bio-container {
  display: flex;
  flex-direction: row;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score > h3 {
  margin: 10px;
}

p {
  color: red;
  display: inline;
}

.student-container {
  background-color: bisque;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

.bio {
  color: black;
  margin: 0px 10px;
}

